# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Docker
.docker/
docker-compose.override.yml

# Application specific
uploads/*
!uploads/.gitkeep
images/plotly_figures/pickle/*
!images/plotly_figures/pickle/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
